.heroImg {
  background-image: linear-gradient(
      90deg,
      rgba(252, 252, 252, 1) 0%,
      rgba(0, 0, 0, 0.461) 0%
    ),
    url("/public/img/hero.png");
  min-height: 830px;
  background-repeat: no-repeat;
  background-size: cover;
}

.heroImgText {
  color: white;
  text-shadow: black 0.1em 0.1em 0.2em;
}

@media (max-width: 768px) {
  .heroImgText {
    padding: 0 4rem 0 4rem;
  }
  .heroButtons{
    padding: 0 4rem 0 4rem;

  }
}
